<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8">
      <div class="section-pessoal">
        <div class="title-separator">
          <div class="media">
            <div class="media-left media-middle">
              <%= image_tag("icons/ico_filmes.png", class:"media-object") %>
            </div>
            <div class="media-body media-middle">
              <div class="media-heading title-section">Dados pessoais</div>
            </div>
            <div class="media-body text-right media-middle">
              <a href="#">sair</a>
            </div>
          </div>
        </div>
        <div class="user-profile">
          <div class="col-xs-12 col-sm-3 user-avatar">
            <%= image_tag("users/jolie.jpg", class:"img-responsive") %>
          </div>
          <div class="col-xs-12 col-sm-9 user-info">
            Nome: <span class="user-name">Angelina Jolie</span><br/>
            Idade: <span class="user-age">40</span><br/>
            Cidade: <span class="user-city">Los Angeles</span><br/>
            Ciner desde: <span class="user-birth-ciner">05/04/2016</span>
            <hr>
            <div class="user-bio"><span class="user-bio">Biografia:</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum. dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat. non proident, sunt in culpa qui officia.
            </div>
          </div>
        </div>
      </div>
      <div class="visible-xs">
        <div class="section-sinopse">
          <div class="title-separator">
            <div class="media">
              <div class="media-left media-middle">
                <%= image_tag("icons/ico_filmes.png", class:"media-object") %>
              </div>
              <div class="media-body media-middle">
                <div class="media-heading title-section">Minha sinopse</div>
              </div>
            </div>
          </div>
          <div class="box-sinopse">
            Vídeos: <strong>2</strong><br/>
            Críticas: <strong>3</strong><br/>
            Coleção: <strong>300</strong><br/>
            Assistidos: <strong>1.000</strong><br/>
            Amigos: <strong>500</strong>
          </div>
        </div>
      </div>
      <div class="anchors">
        <a href="#movies-series" class="btn-anchor">Meus Filmes e séries</a>
        <a href="#videos" class="btn-anchor">Vídeos</a>
        <a href="#critics" class="btn-anchor">Críticas</a>
        <a href="#" class="btn-anchor">Currículo</a>
        <a href="#friends" class="btn-anchor">Amigos</a>
        <a href="#" class="btn-anchor">Atividades</a>
      </div>
      <div class="user-movies-series" id="movies-series">
        <div class="title-separator">
          <div class="media">
            <div class="media-left media-middle">
              <%= image_tag("icons/ico_filmes.png", class:"media-object") %>
            </div>
            <div class="media-body media-middle">
              <div class="media-heading title-section">Meus filmes e séries</div>
            </div>
            <div class="media-body text-right media-middle">
              <a href="#">ver todos</a>
            </div>
          </div>
        </div>
        <div class="user-movies-series-item col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <div class="thumb">
            <a href="#">
              <span class="rollover"></span>
              <%= image_tag("example_movie.jpg", class:"img-responsive") %>
            </a>
          </div>
        </div>
        <div class="user-movies-series-item col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <div class="thumb">
            <a href="#">
              <span class="rollover"></span>
              <%= image_tag("example_movie.jpg", class:"img-responsive") %>
            </a>
          </div>
        </div>
        <div class="hidden-xs">
          <div class="user-movies-series-item col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="thumb">
              <a href="#">
                <span class="rollover"></span>
                <%= image_tag("example_movie.jpg", class:"img-responsive") %>
              </a>
            </div>
          </div>
          <div class="user-movies-series-item col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="thumb">
              <a href="#">
                <span class="rollover"></span>
                <%= image_tag("example_movie.jpg", class:"img-responsive") %>
              </a>
            </div>
          </div>
          <div class="user-movies-series-item col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="thumb">
              <a href="#">
                <span class="rollover"></span>
                <%= image_tag("example_movie.jpg", class:"img-responsive") %>
              </a>
            </div>
          </div>
          <div class="user-movies-series-item col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="thumb">
              <a href="#">
                <span class="rollover"></span>
                <%= image_tag("example_movie.jpg", class:"img-responsive") %>
              </a>
            </div>
          </div>
          <div class="user-movies-series-item col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="thumb">
              <a href="#">
                <span class="rollover"></span>
                <%= image_tag("example_movie.jpg", class:"img-responsive") %>
              </a>
            </div>
          </div>
          <div class="user-movies-series-item col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="thumb">
              <a href="#">
                <span class="rollover"></span>
                <%= image_tag("example_movie.jpg", class:"img-responsive") %>
              </a>
            </div>
          </div>
          <div class="user-movies-series-item col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="thumb">
              <a href="#">
                <span class="rollover"></span>
                <%= image_tag("example_movie.jpg", class:"img-responsive") %>
              </a>
            </div>
          </div>
          <div class="hidden-sm">
            <div class="user-movies-series-item col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <div class="thumb">
                <a href="#">
                  <span class="rollover"></span>
                  <%= image_tag("example_movie.jpg", class:"img-responsive") %>
                </a>
              </div>
            </div>
            <div class="user-movies-series-item col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <div class="thumb">
                <a href="#">
                  <span class="rollover"></span>
                  <%= image_tag("example_movie.jpg", class:"img-responsive") %>
                </a>
              </div>
            </div>
            <div class="user-movies-series-item col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <div class="thumb">
                <a href="#">
                  <span class="rollover"></span>
                  <%= image_tag("example_movie.jpg", class:"img-responsive") %>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="user-videos" id="videos">
        <div class="title-separator">
          <div class="media">
            <div class="media-left media-middle">
              <%= image_tag("icons/ico_filmes.png", class:"media-object") %>
            </div>
            <div class="media-body media-middle">
              <div class="media-heading title-section">Meus vídeos</div>
            </div>
            <div class="media-body text-right media-middle">
              <a href="#">ver todos</a>
            </div>
          </div>
        </div>
        <div class="ciner-movie col-xs-12 col-sm-6 col-md-4">
          <div class="thumb">
            <iframe width="100%" height="220px" src="https://www.youtube.com/embed/eX_iASz1Si8?rel=0" frameborder="0" allowfullscreen=""></iframe>
          </div>
        </div>

        <div class="hidden-xs">
          <div class="ciner-movie col-xs-12 col-sm-6 col-md-4">
            <div class="thumb">
              <iframe width="100%" height="220px" src="https://www.youtube.com/embed/eX_iASz1Si8?rel=0" frameborder="0" allowfullscreen=""></iframe>
            </div>
          </div>
          <div class="hidden-sm">
            <div class="ciner-movie col-xs-12 col-sm-6 col-md-4">
              <div class="thumb">
                <iframe width="100%" height="220px" src="https://www.youtube.com/embed/eX_iASz1Si8?rel=0" frameborder="0" allowfullscreen=""></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 hidden-xs">
      <div class="section-sinopse">
        <div class="title-separator">
          <div class="media">
            <div class="media-left media-middle">
              <%= image_tag("icons/ico_filmes.png", class:"media-object") %>
            </div>
            <div class="media-body media-middle">
              <div class="media-heading title-section">Minha sinopse</div>
            </div>
          </div>
        </div>
        <div class="box-sinopse">
          Vídeos: <strong>2</strong><br/>
          Críticas: <strong>3</strong><br/>
          Coleção: <strong>300</strong><br/>
          Assistidos: <strong>1.000</strong><br/>
          Amigos: <strong>500</strong>
        </div>
      </div>
      <div class="section-collection">
        <div class="title-separator">
          <div class="media">
            <div class="media-left media-middle">
              <%= image_tag("icons/ico_filmes.png", class:"media-object") %>
            </div>
            <div class="media-body media-middle">
              <div class="media-heading title-section">Minha coleção</div>
            </div>
            <div class="media-body text-right media-middle">
              <a href="#">ver todos</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 shelf">
          <%= image_tag("example_movie_3.jpg", class:"img-responsive") %>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 shelf">
          <%= image_tag("example_movie_3.jpg", class:"img-responsive") %>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 shelf">
          <%= image_tag("example_movie_3.jpg", class:"img-responsive") %>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 shelf">
          <%= image_tag("example_movie_3.jpg", class:"img-responsive") %>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 shelf">
          <%= image_tag("example_movie_3.jpg", class:"img-responsive") %>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 shelf">
          <%= image_tag("example_movie_3.jpg", class:"img-responsive") %>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 shelf">
          <%= image_tag("example_movie_3.jpg", class:"img-responsive") %>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 shelf">
          <%= image_tag("example_movie_3.jpg", class:"img-responsive") %>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 shelf">
          <%= image_tag("example_movie_3.jpg", class:"img-responsive") %>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 shelf">
          <%= image_tag("example_movie_3.jpg", class:"img-responsive") %>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 shelf">
          <%= image_tag("example_movie_3.jpg", class:"img-responsive") %>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 shelf">
          <%= image_tag("example_movie_3.jpg", class:"img-responsive") %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 user-review" id="critics">
      <div class="title-separator">
        <div class="media">
          <div class="media-left media-middle">
            <%= image_tag("icons/ico_filmes.png", class:"media-object") %>
          </div>
          <div class="media-body media-middle">
            <div class="media-heading title-section">Minhas críticas</div>
          </div>
          <div class="media-body text-right media-middle">
            <a href="#">ver todos</a>
          </div>
        </div>
      </div>
      <div class="review-item">
        <div class="col-xs-12 col-sm-5 thumb">
          <figure><%= image_tag("http://placehold.it/400x500", class:"img-responsive") %></figure>
        </div>
        <div class="col-xs-12 col-sm-7 resume">
          <div class="category">Categoria: <span class="category-type">Suspense</span></div>
          <h4 class="title">Batman vs Superman</h4>
          <span class="subtitle">A origem da justiça</span>
          <span class="original-title">(Batman Vs Superman: Dawn of Justice)</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </p>
          <a href="#" class="btn btn-saiba-mais">ler a crítica</a>
        </div>
      </div>
      <div class="review-item hidden-sm hidden-xs">
        <div class="col-xs-12 col-sm-5 thumb">
          <figure><%= image_tag("http://placehold.it/400x500", class:"img-responsive") %></figure>
        </div>
        <div class="col-xs-12 col-sm-7 resume">
          <div class="category">Categoria: <span class="category-type">Suspense</span></div>
          <h4 class="title">Batman vs Superman</h4>
          <span class="subtitle">A origem da justiça</span>
          <span class="original-title">(Batman Vs Superman: Dawn of Justice)</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </p>
          <a href="#" class="btn btn-saiba-mais">ler a crítica</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 friend-list" id="friends">
      <div class="title-separator">
        <div class="media">
          <div class="media-left media-middle">
            <%= image_tag("icons/ico_filmes.png", class:"media-object") %>
          </div>
          <div class="media-body media-middle">
            <div class="media-heading title-section">Meus amigos</div>
          </div>
          <div class="media-body text-right media-middle">
            <a href="#">ver todos</a>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-4 no-padding friend-info">
        <div class="media">
          <div class="media-left media-middle">
            <%= image_tag("users/user3.jpg", class:"media-object") %>
          </div>
          <div class="media-body media-bottom">
            <div class="friend-name" style="font-size: 13px; line-height: 13px; color: #524b4b; font-weight: bold;">Mr. Bean</div>
            <a href="#" style="display: inline-block; font-size: 11px; font-weight: lighter; border: 1px solid; border-radius: 3px; padding: 5px; margin-top: 10px; text-decoration: none;">ver mais...</a>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-4 no-padding friend-info">
        <div class="media">
          <div class="media-left media-middle">
            <%= image_tag("users/user3.jpg", class:"media-object") %>
          </div>
          <div class="media-body media-bottom">
            <div class="friend-name" style="font-size: 13px; line-height: 13px; color: #524b4b; font-weight: bold;">Mr. Bean</div>
            <a href="#" style="display: inline-block; font-size: 11px; font-weight: lighter; border: 1px solid; border-radius: 3px; padding: 5px; margin-top: 10px; text-decoration: none;">ver mais...</a>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-4 no-padding friend-info">
        <div class="media">
          <div class="media-left media-middle">
            <%= image_tag("users/user3.jpg", class:"media-object") %>
          </div>
          <div class="media-body media-bottom">
            <div class="friend-name" style="font-size: 13px; line-height: 13px; color: #524b4b; font-weight: bold;">Mr. Bean</div>
            <a href="#" style="display: inline-block; font-size: 11px; font-weight: lighter; border: 1px solid; border-radius: 3px; padding: 5px; margin-top: 10px; text-decoration: none;">ver mais...</a>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-4 no-padding friend-info">
        <div class="media">
          <div class="media-left media-middle">
            <%= image_tag("users/user3.jpg", class:"media-object") %>
          </div>
          <div class="media-body media-bottom">
            <div class="friend-name" style="font-size: 13px; line-height: 13px; color: #524b4b; font-weight: bold;">Mr. Bean</div>
            <a href="#" style="display: inline-block; font-size: 11px; font-weight: lighter; border: 1px solid; border-radius: 3px; padding: 5px; margin-top: 10px; text-decoration: none;">ver mais...</a>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-4 no-padding friend-info">
        <div class="media">
          <div class="media-left media-middle">
            <%= image_tag("users/user3.jpg", class:"media-object") %>
          </div>
          <div class="media-body media-bottom">
            <div class="friend-name" style="font-size: 13px; line-height: 13px; color: #524b4b; font-weight: bold;">Mr. Bean</div>
            <a href="#" style="display: inline-block; font-size: 11px; font-weight: lighter; border: 1px solid; border-radius: 3px; padding: 5px; margin-top: 10px; text-decoration: none;">ver mais...</a>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-4 no-padding friend-info">
        <div class="media">
          <div class="media-left media-middle">
            <%= image_tag("users/user3.jpg", class:"media-object") %>
          </div>
          <div class="media-body media-bottom">
            <div class="friend-name" style="font-size: 13px; line-height: 13px; color: #524b4b; font-weight: bold;">Mr. Bean</div>
            <a href="#" style="display: inline-block; font-size: 11px; font-weight: lighter; border: 1px solid; border-radius: 3px; padding: 5px; margin-top: 10px; text-decoration: none;">ver mais...</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 visible-xs hidden-sm">
      <div class="section-collection">
        <div class="title-separator">
          <div class="media">
            <div class="media-left media-middle">
              <%= image_tag("icons/ico_filmes.png", class:"media-object") %>
            </div>
            <div class="media-body media-middle">
              <div class="media-heading title-section">Minha coleção</div>
            </div>
            <div class="media-body text-right media-middle">
              <a href="#">ver todos</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 shelf">
          <%= image_tag("example_movie_3.jpg", class:"img-responsive") %>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 shelf">
          <%= image_tag("example_movie_3.jpg", class:"img-responsive") %>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 shelf">
          <%= image_tag("example_movie_3.jpg", class:"img-responsive") %>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 shelf">
          <%= image_tag("example_movie_3.jpg", class:"img-responsive") %>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 shelf">
          <%= image_tag("example_movie_3.jpg", class:"img-responsive") %>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 shelf">
          <%= image_tag("example_movie_3.jpg", class:"img-responsive") %>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 shelf">
          <%= image_tag("example_movie_3.jpg", class:"img-responsive") %>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 shelf">
          <%= image_tag("example_movie_3.jpg", class:"img-responsive") %>
        </div>
      </div>
    </div>
  </div>
</div>